.nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;

    li:not(:last-child) {

        a {
            display: flex;
            align-items: center;
            font-size: 1.3rem;
            gap: .2rem;
            cursor: pointer;
        }

        svg {
            font-size: 1.8rem;
        }
    }
}