.nav-section {
    padding: 1rem;

    .categories {
        display: flex;
        justify-content: center;
        gap: 3rem;

        .category {
            a {
                font-size: 1.3rem;
            }
            
        }
    }
}